<section class="main-wrap-content bg-color-wrap">
  <section class="head-wrap">

    <h1>Personas</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit Facilis.</p>

  </section>
</section>

<p id="notice"><%= notice %></p>

<section class="main-wrap-content wrap-content-med bg-user">
  <section class="content-wrap">
  <% @users.each do |user| %>
    <article class="card-project card-user">
      <div class="icon"></div>
      <div class="info-project">
        <h2><%= user.name %></h2>
        <h3>Desafío Latam 2020</h3>

        <div class="actions">
          <div>
            <%= link_to ('<i class="fas fa-search"></i>').html_safe, user, class: "show" %>
            <%= link_to '', edit_user_path(user), class: "edit" %>
          </div>

          <div>
            <%= link_to '', user, class: "delete", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    </article>
  <% end %>
  </section>
</section>


<section class="wrap-bottom">
  <%= link_to 'Crear Nueva Persona', new_user_path, class: "user" %>
</section>
