<section class="main-wrap-content bg-color-wrap">
  <section class="head-wrap">

    <p id="notice"><%= notice %></p>

    <h1>Projects</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit Facilis.</p>

  </section>
</section>

<section class="main-wrap-content wrap-content-med">
  <section class="content-wrap">
<% @projects.each do |project| %>
    <article class="card-project">
      <div class="icon"></div>
      <div class="info-project">
        <h2><%= project.title %></h2>

        <div class="actions">
          <div>
            <%= link_to '', project, class: "show" %>
            <%= link_to '', edit_project_path(project), class: "edit" %>
          </div>

          <div>
            <%= link_to '', project, class: "delete", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    </article>
  <% end %>
  </section>
</section>



<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
